@import "../variables.css";

.user-container {
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.portfolio-container {
    margin-top: 50px;
}

.component-box {
    display: flex;
    align-items: flex-start;
}

.portfolio-line {
    margin-top: 70px;
    width: 70%;
    height: 1px;
    background-color: var(--soft-gray-color);
}

.dark {
    background: var(--dark-background-color);
    color: var(--dark-color);
}

.light {
    background-color:  var(--light-background-color);
    color: var(--light-color);
}
