@import "../../variables.css";

.usercard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2px;
    width: 300px;
}

.userform {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 280px;
}

.usercard-img {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    margin-bottom: 1rem;
    object-fit: cover;
}

.usercard-name,
.network-usercard__name {
    margin-top: 10px;
    font-size: 20px;
    font-weight: 600;
}

.usercard-email,
.usercard-description,
.network-usercard__email,
.network-usercard__description {
    font-size: 16px;
    width: 300px;
}

.usercard-email,
.usercard-description {
    text-align: center;
}

.usercard-description,
.network-usercard__description {
    margin: 18px 0;
    color: var(--hard-gray-color);
}

.network-usercard-box {
    padding-top: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.network-usercard-box:first-child {
    padding-top: 200px;
}

.network-usercard {
    padding: 25px 0 0 25px;
    display: flex;
    align-items: center;
    height: 100%;
    border-radius: 0.25rem;
}

.network-usercard img {
    width: 140px;
    height: 140px;
    border-radius: 50%;
}

.network-usercard__texts {
    margin-left: 25px;
}

.network-usercard__port-link {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 800px;
    width: 130px;
    height: 45px;
    border-radius: 20px;
    background-color: var(--main-color);
    color: white;
    cursor: pointer;
    font-weight: 300;
}
